torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.46.3
diffusers==0.29.0
safetensors==0.5.3
einops
omegaconf
librosa==0.11.0
scipy>=1.10.0
soundfile>=0.12.0
gradio==5.44.1
soe-vinorm
conformer==0.3.2
s3tokenizer
resemble-perth
spacy-pkuseg
pykakasi
huggingface_hub>=0.20.0
tokenizers>=0.15.0
numpy>=2.0
