torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
safetensors==0.5.3
huggingface_hub>=0.20.0
tokenizers>=0.15.0
transformers==4.46.3
librosa==0.11.0
scipy>=1.10.0
soundfile>=0.12.0
numpy>=1.26.0
gradio==5.44.1
soe-vinorm>=0.3.2
einops>=0.7.0
conformer==0.3.2
s3tokenizer
diffusers==0.29.0
resemble-perth==1.0.1
spacy-pkuseg
pykakasi==2.3.0
omegaconf==2.3.0
